.header {
	width: 100%;
	overflow: hidden;
	background-image: linear-gradient(to left, rgb(10, 172, 247), #003a55);
	color: orange;
	border-radius: 20px;
	left: 0;
	right: 0;
}

.header img.logo {
	font-weight: bold;
	height: 50px;
	width: 50px;
	padding-left: 5px;
}

.footer {
	width: 100%;
	overflow: hidden;
	text-align: center;
	background-image: linear-gradient(to left, rgb(10, 172, 247), #003a55);
	color: orange;
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
}

body {
	background-blend-mode: lighten;
}

body, html {
	height: 100%;
	margin: 0;
	color: black;
	background-color: white;
}

.calendar {
	/* The image used */
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("images/calendarbg.jpg");
	/* Full height */
	height: 100%;
	overflow: auto;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card{
	height: 75px;
	opacity: 1;
	background-color: rgba(245, 245, 245, 0);
	color: white;
	padding: 0;
}

.card-title{
	text-align: left;
	padding: 0;
}

.card-body{
	overflow: auto;
	padding: 0;
	font-size: 13px;
}

